<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./components/room_search/room_search.scss")
        title Room Search
    body
        .form
            .rectangle
            p(class="p1") Найдём номера под ваши пожелания
            h3(style={ left: 30 + "px", top: 109 + "px" }) Прибытие
            h3(style={ left: 200 + "px", top: 109 + "px" }) Выезд
            h3(style={ left: 30 + "px", top: 194 + "px" }) Гости
            button 
                p Подобрать номер
                .arrow arrow_forward