include ./components/symbol/symbol
include ./components/text_field_default/text_field_default
include ./components/text_field_focus_over/text_field_focus_over

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./form_elements.scss")
        title Form Elements
    body