<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./components/text_templates/text.scss")
        title Text
    body
        .text_template
            ul
                li(class="li1") H1
                li(class="li2") H2
                li(class="li3") H3
                li(class="li4") Body