<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./components/rectangle/rectangle.scss")
        title Rectangle
    body
        div(class="rectangle")
        div(class="dark-shade-100")
            p 
                b Dark Shade 100% 
                br 
                | #1F2041