<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Text Field Focus/Over
    body
        .form(style={top: 227 + "px"})
            h3 Text Field
            p(style={left: 223.74 + "px"}) Hover/Focus
            input(type="text" name="text" placeholder="This is pretty awesome" style={top: 23 + "px"})