@font-face {
	font-family: 'Conv_Montserrat-Bold';
	src: url('../../../fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../../../fonts/Montserrat-Bold.woff') format('woff'), url('../../../fonts/Montserrat-Bold.ttf') format('truetype'), url('../../../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Montserrat-Regular';
	src: url('../../../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../../../fonts/Montserrat-Regular.woff') format('woff'), url('../../../fonts/Montserrat-Regular.ttf') format('truetype'), url('../../../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.registration-form {
    position: absolute;
    width: 380px;
    height: 646px;
    left: 140px;
    top: 564px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    .p1 {
        position: absolute;
        padding: 0px;
        margin: 0px;
        width: 320px;
        height: 60px;
        top: 40px;
        left: 30px;
    
        font-family: Conv_Montserrat-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #1F2041;
    }

    h3 {
        position: absolute;
        height: 15px;
        left: 30px;

        padding: 0;
        margin: 0;

        font-family: Conv_Montserrat-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;

        text-transform: uppercase;
        color: #1F2041;
    }

    .body {
        position: absolute;
        width: 210px;
        height: 24px;
        left: 80px;
        top: 452px;
        margin: 0;
        padding: 0;

        font-family: Conv_Montserrat-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        
        color: rgba(31, 32, 65, 0.75);
    }

    input {
        position: absolute;
        width: 320px;
        height: 44px;
        left: 30px;
        top: 90px;

        padding: 10px;

        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
    }

    input:hover {
        border: 1px solid rgba(31, 32, 65, 0.5);
    }

    input:hover::placeholder {
        color: rgba(31, 32, 65, 0.75);
    }

    input::placeholder {
        font-family: Conv_Montserrat-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.25);
    }

    input[type="date"] {
        font-family: Conv_Montserrat-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.25);
        text-transform: uppercase;
    }

    .radio {
        position: absolute;
        width: 98px;
        height: 24px;
        left: 30px;
        top: 198.44px;
        padding: 0;

        input {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0;
            width: 20px;
            height: 20px;
        }

        label {
            position: absolute;
            left: 30px;

            font-family: Conv_Montserrat-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;

            color: rgba(31, 32, 65, 0.5);
        }
    }

    .switch {
        position: absolute;
        display: inline-block;
        width: 40px;
        height: 20px;
        top: 454px;
        left: 30px;
        margin: 0;
        padding: 0;
    }

    .switch input{
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        transition: .2s;
        padding: 0;
        margin: 0;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 4px;
        top: 3px;
        background-color: rgba(31, 32, 65, 0.25);
        transition: .2s;
    }

    input:checked + .slider {
        background-color: #BC9CFF;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        transform: translateX(19px);
        background-color: white;
    }

    .slider.round {
        padding: 0;
        margin: 0;

        border-radius: 34px;
        border: 1px solid rgba(31, 32, 65, 0.25);;
    }

    .slider.round:before {
        border-radius: 10px;
    }

    button {
        position: absolute;
        display: flex;
        width: 320px;
        height: 44px;
        left: 30px;
        top: 498px;

        cursor: pointer;

        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
        border-style: none;

        p {
            width: 280px;
            height: 15px;
            margin-top: 14px;
            margin-left: 34px;

            font-family: Conv_Montserrat-Regular;
            font-style: normal;
            font-weight: bold;
            font-size: 11px;
            line-height: 15px;

            text-align: center;
            text-transform: uppercase;

            color: #FFFFFF;
        }

        .arrow {
            width: 44px;
            height: 34px;
            margin-top: 9px;
            margin-right: 4px;

            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 24px;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            text-align: end;

            color: #FFFFFF;

            /* Support for all WebKit browsers. */
            -webkit-font-smoothing: antialiased;
            /* Support for Safari and Chrome. */
            text-rendering: optimizeLegibility;
            /* Support for Firefox. */
            -moz-osx-font-smoothing: grayscale;
        }
    }

    .toxin {
        position: absolute;
        height: 18px;
        left: 30px;
        top: 584px;
        padding: 0;
        margin: 0;

        font-family: Conv_Montserrat-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        
        color: #000000;
    }

    .toxin-button {
        position: absolute;
        width: 99px;
        height: 44px;
        left: 250px;
        top: 571px;
        padding: 2px;

        border-radius: 22px;
        color: #122dff;

        p {
            padding: 1.1em 1.6em;
            margin: 0;
            font-family: Conv_Montserrat-Regular;
            font-style: normal;
            font-weight: bold;
            font-size: 11px;
            line-height: 15px;
            border-radius: 22px;

            text-align: center;
            text-transform: uppercase;

            color: #BC9CFF;
            background: #FFFFFF;
        }
    }
}