<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./components/registration/registration.scss")
        title Registration
    body
        .registration-form
            p(class="p1") Регистрация аккаунта
            button
                p Перейти к оплате
                .arrow arrow_forward