<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        h1 Hello Parcel!
        a(href="./ui_kit/colors_type/colors_type.pug") Colors & Type
        br
        a(href="./ui_kit/cards/cards.pug") Cards
        br
        a(href="./ui_kit/form_elements/form_elements.pug") Form Elements
        script(src="./main.js")