mixin rectangle(color, top) 
    .rectangle(style={ background: color, top: top + 'px' })

mixin text(name, code, top)
    .text
        p(style={ top: top + 'px' })
            span(class="name")= name 
            br 
            span= code
            

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./components/colors/colors.scss")
        title Colors
    body
        - const a = { color1: 'rgba(31, 32, 65, 0.75)', top1: 235, color2: 'rgba(31, 32, 65, 0.5)', top2: 324.56, color3: 'rgba(31, 32, 65, 0.25)', top3: 415, color4: 'rgba(31, 32, 65, 0.05)', top4: 505, color5: '#BC9CFF', top5: 595, color6: '#6FCF97', top6: 685 }
        +rectangle()
        +rectangle(a.color1, a.top1)
        +rectangle(a.color2, a.top2)
        +rectangle(a.color3, a.top3)
        +rectangle(a.color4, a.top4)
        +rectangle(a.color5, a.top5)
        +rectangle(a.color6, a.top6)

        +text('Dark Shade 100%', '#1F2041', 152)
        +text('Dark Shade 75%', '#1F2041', 242)
        +text('Dark Shade 50%', '#1F2041', 332)
        +text('Dark Shade 25%', '#1F2041', 422)
        +text('Dark Shade 5%', '#1F2041', 511)
        +text('Purple', '#BC9CFF', 601)
        +text('Green', '#6FCF97', 692)

        
        